 #                                        4 june

In [ ]:
## for loop

In [1]:
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:        
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [2]:
# tables of 2

ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    print(i*9)

9
18
27
36
45
54
63
72
81
90

In [13]:
## tabel of 9
n=9
for i in range(1,10):
    print(n,"X",i,"=",i*n)

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [3]:
ls=[1,2,3,4,5,6,7,8,9,10]

for i in ls:
    if i%2 ==0:                           # finding even nos from list
        print(i)

2
4
6
8
10

In [17]:
#### while loop

a=0
while a<15:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [5]:
## control statements : break , continue, pass

In [30]:
# break = interupt the execution and come out of the loop

ls=[1,2,3,4,5,6,7,8,9]
for i in ls:
    print(i)
    if i==5:
        print('reached till 5')
        break

1
2
3
4
5
reached till 5

In [31]:
ls=[1,3,5,7,9,11,12,13,15,17,19]
for i in ls:
    print(i)
    if i%2==0:
        break

1
3
5
7
9
11
12

In [37]:
## continue  :stop the current iteration of the loop and continue with the next iteration
a=0
while a<10:
    a+=1
    if a==4:
        continue
    print(a)

1
2
3
5
6
7
8
9
10

In [35]:
  

ls=[1,3,5,7,9,11,12,13,15,17,19]
for i in ls:
    print(i)
    if i%2==0:
        print(i)
        continue
        print("21")

1
3
5
7
9
11
12
12
13
15
17
19

In [39]:
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:  
    if i*2==10:                            # print 2 table without printing 10
        continue
    print(i*2)

2
4
6
8
12
14
16
18
20

In [41]:
# pass    : it just let the  iterator to paa

ls=[1,2,3,4,5,6,7]

for i in ls:                  ## if condition in ot defined 
    pass

In [42]:
ls=[1,2,3,4,5,6,7]
for i in ls:
    if i==4:                                  
        pass
        print(' this is a passed block')
    print(i)

1
2
3
 this is a passed block
4
5
6
7

In [36]:
## functions: are set of reusable codes

## function to print a welcome message

def welcome():                                       # this is how functions created
    
    print('hi,welcome to the pyyhon session!!')

In [37]:
welcome()                                 # and whenever we type 'welcome' it will print below sentence

hi,welcome to the pyyhon session!!

In [10]:
## function to create the table of given no

##def function
def table(a):
    i=1
    while i<=10:
        print(i*a)
        i+=1

In [11]:
table(9)

9
18
27
36
45
54
63
72
81
90

In [12]:
## add no

def add(a,b):
    print(a+b)

In [13]:
add(1,2)

3

In [49]:
## range function 
a=range(0,10)
print(len(a))
print(a)

print(list(range(0,20)))
print(list(range(0,20,2)))     # range(start,end,step)

10
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [31]:
## lambda function                   ## mostly used to creat function under function
#  lambda arguments:expresion
x =lambda  a       :a+12
print(x(3))

15

In [33]:
p=lambda a,b,c,d :a+b+c+d
print(p(1,2,3,4))

10

In [55]:
x=(5+4-8*6-8+86-56)
print(eval('x'))                           # eval-- evaluate

-17