#                                      28 may

In [ ]:
#indexing 
#positive
#negative

In [5]:
##numbers 
a,b,c,d=10,5,4,7       ## multiple assignment
print(a)
print(b)
print(c)
print(d)

10
5
4
7

In [2]:
#string
# order of execution
#------->>>>>>>
a="HAPPY BIRTHDAY"
print(a)
type(a)

HAPPY BIRTHDAY

str

In [3]:
#get birth in possitive indexing

a[6:11]

'BIRTH'

In [4]:
#get birth in negative indesing

a[-8:-3]

'BIRTH'

In [33]:
#GET +VE FOR 'APPY'
a[1:6]

'APPY '

In [32]:
#mixed indexing
a[6:-3]

'BIRTH'

In [9]:

##list
#creat a empty list 
ls=[]
print(ls)
type(ls)

[]

list

In [44]:
#creat a list
ls=[1,2,3,4,5,6,7,8,9,10]
print(ls)
type(ls)

list

In [13]:
#list of alphabets
ls=['A','B','C','D','E','F']
print(ls)
print(ls[2:5])
ls[5]

['A', 'B', 'C', 'D', 'E', 'F']
['C', 'D', 'E']

'F'

In [9]:
ls=['A','B','SANFRANCISCO']
ls[2]

'SANFRANCISCO'

In [10]:
ls=['A','B','FAMILY']
print(ls [2][1:5])
len(ls[2])

AMIL

6

In [13]:
ls=['A','B','FAMILY']
ls[1]="manish"              # list is mutable , can change the existing elements
ls

['A', 'manish', 'FAMILY']

In [14]:
#tuple
a=(1,2,3,4)                    ## tuple is immutable
print(type(a))

print(a)

<class 'tuple'>
(1, 2, 3, 4)

In [14]:
#set                           ## 
a={1,2,2,3,4,5}
type(a)

set

In [18]:
a={'a':1,'b':2,'c':3}
print(a.keys())
print(a.values())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])

In [ ]:
##########list operation

In [112]:
#length of a list 
ls=[]
len(ls)

0

In [119]:
ls=[1,2,3,4,5,6,1,5,4]                         ## list are mutable
print(len(ls))
ls.count(1)        ### how many times it is

9

2

In [23]:
#adding elements to the list using append
ls=[]
ls.append(1)
print(ls)

ls.append(2)
print(ls)

ls.append(3)
print(ls)

[1]
[1, 2]
[1, 2, 3]

In [24]:

ls=[]
ls.append('a')
print(ls)
ls.append('b')
print(ls)
ls.append('c')               ##this will add the elements at the end of list
print(ls)

ls.append([1,2,3,4])
print(ls)                            

ls.append({1,2,3,4})
print(ls)
                                                      ### append acn add list,set,tuple,dictionary in list
ls.append({'a':1,'b':2,'c':3})
print(ls)

['a']
['a', 'b']
['a', 'b', 'c']
['a', 'b', 'c', [1, 2, 3, 4]]
['a', 'b', 'c', [1, 2, 3, 4], {1, 2, 3, 4}]
['a', 'b', 'c', [1, 2, 3, 4], {1, 2, 3, 4}, {'a': 1, 'b': 2, 'c': 3}]

In [ ]:
###    insert ; will add element in any place -middel,end

In [1]:
ls=[1,2,5,9,4,5]
#ls.insert(position,value)
ls.insert(3,'manish')          ## add element in give position
print(ls)

[1, 2, 5, 'manish', 9, 4, 5]

In [ ]:
###extend--

In [26]:
ls=[1,2,3,4,5,6]
ls.extend([10,20,30,40,50,60])           ##it will add multiple elements at the end
print(ls)

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60]

In [139]:
###remove
ls=['a', 'b', 'c', [1, 2, 3, 4], {1, 2, 3, 4}]
ls.remove([1, 2, 3, 4])
print(ls)                                           ####removes given element
ls.remove('a')
print(ls)

['a', 'b', 'c', {1, 2, 3, 4}]
['b', 'c', {1, 2, 3, 4}]

In [26]:
ls=['a', 'b', 'c','d','r', [1, 2, 3, 4], {1, 2, 3, 4}]
ls.pop()                                            ###will remove last element
print(ls)

print(ls.pop(1))                  ### all will print removing element and then 
print(ls)                                      ######will remove the mentoned position element

ls.pop(-2)
print(ls)

['a', 'b', 'c', 'd', 'r', [1, 2, 3, 4]]
b
['a', 'c', 'd', 'r', [1, 2, 3, 4]]
['a', 'c', 'd', [1, 2, 3, 4]]

In [147]:
####delet -   delet multiple elements at once
ls=[10,20,30,40,50,60,70,80,90]
del ls[2:5]                    ### using this can remove multiple elemnts from list
print(ls)
print(ls.clear())               #### will clear all the elements

[10, 20, 60, 70, 80, 90]
None

In [21]:
ls=[10,20,30,40,50,10,10,30,60,70,80,90]
print(ls.count(10))        ## gives repetation of element
print(ls.index(70))             ### gives position of element
print(ls.index(10,2))        ### gives position of element

3
9
5

In [25]:
ls=[10,20,30,40,50,60,70,80,90]
ls.clear()                            ## remove all the elements and return empty list
ls

[]

In [29]:
ls=[10,20,30,40,50,10,10,30,60,70,80,90]
ls.sort()     ## arrenge in assending
print(ls)
ls.reverse()          ## reverse the arrangement
print(ls)

[10, 10, 10, 20, 30, 30, 40, 50, 60, 70, 80, 90]
[90, 80, 70, 60, 50, 40, 30, 30, 20, 10, 10, 10]

In [36]:
cube=[]
for i in range(1,10):
    cube.append(i**3)
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729]