In [1]:
midpoint=5
 
lower = []; upper = []

for i in range(10):
     if (i < midpoint):
        lower.append(i)
     else:
        upper.append(i)
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [31]:
x=int (4)
y=float (4)
print(id(x))
print(id(y))

2912720415120
2912834134896

In [35]:
a=4
b=5
b=a
print(a)
print(b)
a=6
print(b)
print(a)

4
4
4
6

In [26]:
x=[10,25,65,2,5,86,102,568,96,42,3,5,63,105,0.1,56,0.956]
p=[] ; q=[]
for i in list(x):
    if (i<50) :
        p.append(i)
    else:
        q.append(i)
p.sort()
q.sort()
print('less than 50=',p)
print('greater than 50 =',q)

leaser than 50= [0.1, 0.956, 2, 3, 5, 5, 10, 25, 42]
greater than 50 = [56, 63, 65, 86, 96, 102, 105, 568]

In [24]:
 L = [4,2,3,1]
 L.sort()
 print(L)

[1, 2, 3, 4]

In [4]:
x=5
if x < 4:
    y = x * 2 
print(x)

5

In [1]:
x=3
if x < 4:
    y = x * 2 
    print(y)

6

In [13]:

i='yes'
while i=='yes':
    print('-----------------\noperation:\n1.ADD\n2.SUBTRACT\n3.MULTIPLY\n4.DEVIDE\n5.SQUARE')
    o=int(input('\ncelect operation no = '))
    
    if o<=5:
        x=int(input('1st no = '))
        y=int(input('2nd no = '))
        if o==1:
            print('adding',x,'and',y,'=',x+y)
        elif o==2:
            print('subtracting',x,'and',y,'=',x-y)
        elif o==3:
            print('multiply',x,'and',y,'=',x*y)
        elif o==4:
            print('devide',x,'and',y,'=',x/y)
        elif o==5:
            print('square of',x,'and',y,'=',x**2,'and',y**2)
            
        print(input('want more calculation "yes" or "no"= '))
       
    else:
        print('wrong operating no selected')

-----------------
operation:
1.ADD
2.SUBTRACT
3.MULTIPLY
4.DEVIDE
5.SQUARE

celect operation no = 5
1st no = 34
2nd no = 68
square of 34 and 68 = 1156 and 4624
want more calculation "yes" or "no"= yes
yes
-----------------
operation:
1.ADD
2.SUBTRACT
3.MULTIPLY
4.DEVIDE
5.SQUARE

celect operation no = no

ValueError: invalid literal for int() with base 10: 'no'

In [8]:
try:
    x=int(input('enter integer value = '))
except:
    print("value entered is not an integer")
else:
    print("value entered is an integer")

enter integer value = 5
value entered is an integer

In [18]:
all_rounder,batsman,boller=input('enter 3 values = ').split()
print('no of all_rounder= ',all_rounder)
print('no of batsman= ',batsman)
print('no of boller= ',boller)

enter 3 values = 2 6 9
no of all_rounder=  2
no of batsman=  6
no of boller=  9

In [3]:
a=(1,2,5,8)
type(a)
v='manish '
print("sum of all:", sum(a))

sum of all: 16

In [9]:
i=1

while i<=5:
    print("manish",end=" ")
    j=1
    while j<=5:
        print('rocks',end=" ")
        j+=1
    i+=1
    print()

manish rocks rocks rocks rocks rocks
manish rocks rocks rocks rocks rocks
manish rocks rocks rocks rocks rocks
manish rocks rocks rocks rocks rocks
manish rocks rocks rocks rocks rocks

In [13]:
a=3+2j
print(a.real)
a.imag

3.0

2.0